@page
@model AboutModel
@{
    ViewData["Title"] = "Om sidan";
}

<div class="text-center">
    <h1 class="display-4">Om sidan</h1>
    <p class="">Webbplatsen är byggd med hjälp av Razor Pages, som är en del av .NET Core-frameworket. Razor Pages gör det enkelt att skapa dynamiska webbsidor med serverkod i C#. <br> <br> Webbplatsen är främst stilerad med hjälp av bootstrap, dock har CSS använts i vissa fall. <br> <br> En enklare JavaScript funktion har även implementerats för att lägga till en "underline", beroende på vilken sida man navigerar i.</p>
</div>
