@page
@model Moment1.Pages.CoursesModel

@{
    ViewData["Title"] = "Kurser";
}

<h1>Kurser</h1>
<ul>
@foreach (var kurs in Model.Kurser)
{
    <li>@kurs</li>
}
</ul>

<h2>Aktuell Tid</h2>
<p>@Model.Nu.ToString()</p>

<p>@Model.Meddelande</p>
