@page
@model IndexModel
@{
    ViewData["Title"] = "Startsida";
}

<div class="text-center">
    <h1 class="display-4">Moment 1.1  </h1>
    <p>Välkommen till min lösning på moment 1.1 i .NET Core kursen.</p>
</div>
