@page
@model Moment1.Pages.RazorModel

@{
    ViewData["Title"] = "Kurser";
}

<div class="container">
    <h1>Razor</h1>
    <h3>Information</h3>

<p> <strong>Datum/klockslag: </strong>@Model.Nu.ToString()</p>

<p>@Model.Message!</p>

<strong>Kurser jag läst</strong>

<ul>
@foreach (var course in Model.Courses)
{
    <li class="">@course</li>
}
</ul>



</div>
